
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Hover Scrollbar */
.hover-scrollbar {
  overflow-y: auto;
  /* Firefox */
  scrollbar-color: transparent transparent;
  transition: scrollbar-color 0.3s;
}

.hover-scrollbar:hover {
  /* Firefox Hover: Thumb | Track */
  scrollbar-color: rgba(156, 163, 175, 0.5) transparent;
}

.dark .hover-scrollbar:hover {
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

/* Webkit (Chrome, Edge, Safari) */
.hover-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.hover-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.hover-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.hover-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5); /* gray-400 equivalent with opacity */
}

.dark .hover-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
}
